body {
    background-color: #221e16;
    color: #D2CFCD;
    text-align: center;
}
.header {
    color: white;
    border-color: white;
}
.subheader {
    color: #BEE5B0; /* change the color to non-link color  */
    margin-top: 10px;
}
#introductionBox {
    margin: auto;
    width: 550px;
    font-weight: bold;
}
#introductionBox > h1 {
    color: white;
    font-size: 75px;
    margin-bottom: -10px;
    margin-top: 50px;
}
a {
    text-decoration: none;
    color: #BEE5B0;
}
p > a:hover {
    border-bottom: 1px solid #BEE5B0;
}
#toolsFlexBox {
    width: 900px;
    justify-content: center;
}
#toolsFlexBox > div {
    text-align: center;
    width: 125px;
    height: 125px;
}
#toolsFlexBox > div > p {
    position: relative;
    top: 10px;
}
#toolsFlexBox > div > img {
    position: relative;
    top: 10px;
}
#toolsFlexBox > div:hover {
    border: 3px solid #D2CFCD;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    width: 50vw;
}
.flex-container > div {
    background-color: #221e16;
    border: 3px solid #D2CFCD;
    border-radius: 10px;
    width: 280px;
    height: 250px;
    margin: 10px;
    text-align: left;
    font-size: 16px;
}
.flex-container > div:hover {
    border: 3px solid white;
}
.flex-container > div > h3 {
    color: white;
    margin-left: 10px;
    margin-top: -95px;
}
.flex-container > div > h3, .flex-container > div > p {
    margin-bottom: -10px;

}
.lang-text {
    margin-left: 20px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: -10px;
    border: 2px solid #D2CFCD;
    border-radius: 5px;
}
/* Border Colors */
#excelBorder {border: 2px solid #167540;}
#vbBorder {border: 2px solid #54439B;}
#nodeBorder {border: 2px solid #80B244;}
#mongoBorder {border: 2px solid #1D6100;}
#pythonBorder {border: 2px solid #3570A2;}
#htmlBorder {border: 2px solid #E35026;}
#cssBorder {border: 2px solid #1F62AE;}
#javascriptBorder {border: 2px solid #F3DC1C;}
#otherBorder {border: 2px solid white;}

.lang-icon {
    padding-right: 5px;
}
#toolsDiv {
    margin-top: 75px;
    text-align: left;
}
#toolsTitle > h2 {
    width: 180px;
    border-bottom: 4px solid #D2CFCD;
}
.toolButton {
    background-color: #221e16;
    color: white;
    border: 2px solid #587a2f;
    border-radius: 10px;
}
.toolButton:hover {
    border: 2px solid #BEE5B0;
}
.active {
    border: 2px solid #BEE5B0;
}
#timelineDiv {
    text-align: left;
}
#timelineDiv > h2 {
    width: 145px;
    border-bottom: 4px solid #D2CFCD;
}
#timelineDiv > h3, #timelineDiv > h4, #timelineDiv > ul, #timelineDiv > p{
    margin-left: 75px;
    margin-bottom: -10px;
}
#researchDiv {
    text-align: left;
}
#researchDiv > h2 {
    margin-top: 75px;
    color: white;
    width: 95px;
    border-bottom: 4px solid #D2CFCD;
}
#researchDiv > div > .subheader {
    margin-top: -15px;
}
#researchDetails {
    margin-top: -10px;
}
#formDiv, #timelineDiv, #toolsTitle, #researchDiv {
    margin: auto;
    width: 550px;
}
#formDiv > h2 {
    width: 100px;
    border-bottom: 4px solid #D2CFCD;
}
form > input, form > textarea {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: #221e16;
    border: 2px solid #D2CFCD;
    color: #D2CFCD !important;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 550px;
}
textarea {
    resize: none;
    height: 200px;
}
#formButton {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
}
#formButton:hover {
    background-color: #BEE5B0;
}
footer {
    text-align: center;
    margin-top: 100px;
}
.bigCircle {
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.smallCircle {
    background-color: #221e16;
    width: 15px;
    height: 15px;
    border-radius: 50px;
}
#timelineBar {
    float: left;
    position: relative;
    left: 35.25vw;
    top: 7vh;
}
.repoButton {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
}
.repoButton:hover {
    background-color: #BEE5B0;
}

