html {
    scroll-behavior: smooth;
}
.large-header {
	position: relative;
	width: 100vw;
	background: #b5a690;
	background-position: center center;
    
}
#introText {
    color: white;
}
#nameText {
    font-size: 50px;
}
.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}
.main-title .thin {
	font-weight: 200;
}
@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}
#introText {
    position: absolute;
    left: 15vw;
    top: 30vh;
}
#introText > h1, #introText > h2 {
    margin: 5px;
}
body {
    background-color: #3A3A3A;
    color: white;
    margin:0px;
    overflow-x: hidden;
}
#topBar {
    position: absolute;
    padding-left: 20px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #3A3A3A;
}
#mainNav {
    position: absolute;
    top: 0;
    right: 20px;
    margin-top: 25px;
    font-size: 22px;

}
#mainNav > a {
    color: white;
    text-decoration: none;
    margin-left: 0px;
    margin-right: 30px;
}
#mainNav > a:hover {
    border-bottom: 2px solid #92BA92;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 75px;
}
li > a {
    display: block;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
}
#rightNav {
    position: absolute;
    right: 10px;
    top: 30vh;
    padding-right: 0;
}
#homeText {
    margin-left: 300px;
}
#homeText > h1 {
    font-size: 55px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#homeText > h2 {
    margin-bottom: 0px;
}
.scrollLine {
    color: white;
    padding: 0;
    position: absolute;
    left: 50vw;
    top: 95vh;
}
#aboutMe {
    width: 900px;
    margin: auto;
}
#aboutPic {
    border-radius: 20%;
    float: right;
    margin-left: 40px;
}
#aboutText {
    color: white;
    width: 360px;
    float: left;
}
#aboutText > p {
    font-size: 18px;
}
button {
    background-color: #92BA92;
    color: white;
    font-size: 16px;
    border: none;
    padding: 6px 12px 6px 12px;
}
.flex-container {
    display: flex;
    width: 900px;
}
.flex-container > div {
    color: black;
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 240px;
    height: 240px;
    border-radius: 5%;
}
.flex-container > div:hover {
    background-color: #78938A;
}
.flex-container > div > p {
    font-size: 25px;
}
.circle {
    position: absolute; 
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}
.smallCircle {
    position: relative;
    left: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    background-color: #3A3A3A;
    border-radius: 50%;
}
.rectangle {
    position: relative;
    left: 20px;
    top: 10px;
    height: 260px;
    width: 10px;
    background-color: white;
}
#dotStructure {
    position: relative;
    top: 130px;
    left: 90px;
}
.exp-container {
    display: flex;
    width: 900px;
}
.exp-container > div {
    background-color: white;
    color: black;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 600px;
    height: 240px;
    border-radius: 5%;
}
.exp-container > div > h2 {
    position: relative;
    top: -15px;
    font-size: 24px;
}
.exp-container > div > p {
    position: relative;
    top: -15px;
    font-size: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.project {
    position: relative;
    width: 900px;
    height: 450px;
    background-color: dimgrey;
    color: black;
    margin: auto auto 120px;
}
.projectNumOdd {
    color: rgba(255, 255, 255, 0);
    position: relative;
    text-align: right;
    font-size: 175px;
    top: -95px;
    transition: 0.3s;
}
.projectNumEven {
    color: rgba(255, 255, 255, 0);
    position: relative;
    text-align: left;
    font-size: 175px;
    top: -95px;
    transition: 0.3s;
}
.projectTextEven {
    background-color: rgb(255, 255, 255, 0.2);
    padding: 0px 10px 10px 10px;
    position: relative;
    float: left;
    top: -100px;
    left: 50px;
}
.projectTextOdd {
    background-color: rgb(255, 255, 255, 0.2);
    padding: 0px 10px 10px 10px;
    position: relative;
    float: right;
    top: -100px;
    right: 50px;
}
.one {
    background-image: url("sources/img/bofa");
    background-size: 90%;
    background-position: center;


}
.two {
    background-image: url("sources/img/logicGateSingle.png");
    background-size: 50%;
    background-repeat: repeat-x;
    background-position: center;
}
.three {
    background-image: url("sources/img/myCPU.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
}
.four {
    background-image: url("sources/img/knight");
    background-size: 50%;
    background-repeat: repeat-x;
    background-position: center;
}
#proj1bg, #proj2bg, #proj3bg, #proj4bg {
    transition: 0.3s;
}

button > a {
    text-decoration: none;
    color: white;
}

input {
    width: 440px;
    height: 30px;
}
#Name{
    width: 892px;
}
#Message {
    width: 892px;
    padding-bottom: 200px;
}
footer {
    text-align: center;
    color: black;
    background-color: #b5a690;
    padding-bottom: 20px;
    padding-top: 50px;
}
#footerSocials > a {
    margin-left: 5px;
    margin-right: 5px;
}